<main class="d-flex justify-content-center align-items-center vh-100">
    <section>
        <table class="table table-bordered table-striped table-hover mx-auto text-center" style="width: 80%;">
            <thead>
                <tr>
                    <th scope="col">Client ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientList">
                    <th scope="row"> {{client.clientId}} </th>
                    <td> {{client.firstName}} </td>
                    <td> {{client.lastName}} </td>
                    <td> {{client.dni}} </td>
                    <td> {{client.email}} </td>
                    <td> {{client.address}} </td>
                    <button type="button" (click)="deleteClient(client)">DELETE</button>
                    <button type="button" (click)="editClient(client)">EDIT</button>
                </tr>
            </tbody>
        </table>

        <section>
            <form *ngIf="isEditing" [formGroup]="editForm">
                <br><br>
                <b>EDITA UN CLIENTE:</b>
                <br><br>
                <b>Nombre: </b>
                <input type="text" name="firstNameEdit" formControlName="firstNameEditValue">
                <br><br>
                <b>Apellido: </b>
                <input type="text" name="lastNameEdit" formControlName="lastNameEditValue">
                <br><br>
                <b>Dni: </b>
                <input type="text" name="dniEdit" formControlName="dniEditValue">
                <br><br>
                <b>Email: </b>
                <input type="text" name="emailEdit" formControlName="emailEditValue">
                <br><br>
                <b>Address: </b>
                <input type="text" name="addressEdit" formControlName="addressEditValue">
                <br><br>
                <button type="submit" id="clienteSubmit" (click)="patchClient()">ENVIAR</button>
            </form>
        
        </section>
    </section>
</main>
